<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product Inventory System</title>
  <!-- CSS only -->
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <a class="navbar-brand" href="/">Product Inventory System</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<br>
<div class="container">

</div>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
  <tr>
    <th> Name</th>
    <th> Serial Number</th>
    <th> Category</th>
    <th> Comments</th>
    <th> Actions</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each=" prod: ${deletedProducts}">
    <td th:text="${prod.name}"></td>
    <td th:text="${prod.serialNumber}"></td>
    <td th:text="${prod.category}"></td>
    <td th:text="${prod.comment}"></td>
    <td>
      <a th:href="@{/edit/partial/{id}(id=${prod.id})}" class="btn btn-primary">Restore</a>
      <a th:href="@{/delete/{id}(id=${prod.id})}" class="btn btn-danger">Permanently Delete</a>
    </td>
  </tr>

  </tbody>
</table>
</div>
</body>
</html>